* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(193, 9%, 19%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(193, 9%, 19%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(193, 9%, 19%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#2D3436", GradientType=1);
}

.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0.7em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.navbar div {
    height: 5vh;
    width: 8vw;
    background-color: #1E201E;
    color: white;
    text-align: center;
    padding: 0.2em;
    font-family: "Nerko One", cursive;
    transition: transform, 0.5s;
}

.navbar div:hover {
    transform: scale(105%);
    cursor: pointer;
    color: #1E201E;
    background-color: white;
}

@media (max-width: 480px) {
    .navbar {
        width: 80vw;
     
    }

    .navbar div {
        width: 30vw;
        padding-top: 0.5em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        width: 60vw;
    }

    .navbar div {
        width: 20vw;
        padding-top: 0.5em;
    }
}

/* !!home container */

.home-container {
    height: 80vh;
    width: 99vw;
    margin-top: 2em;
    display: flex;
}

.introduction {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.introduction div {
    color: #ECDFCC;
    font-family: "SUSE", sans-serif;
    padding: 1em;
    width: 80%;
    height: 50%;
    box-shadow: 1px 1px 10px black;
    transition: transform 0.5s;
    background-image: url('./images/intro-back.jpg');
    background-size: cover;
}

.introduction div:hover {
    transform: scale(103%);
}

.introduction div article {
    font-weight: 500;
    width: 50%;
    height: 25%;
    padding: 0.4em;
    padding-top: 0.7em;
    color: #3C3D37;
    border-radius: 0.2em;
    background-color: #ECDFCC;
    box-shadow: 0.5px 0.5px 5px #ECDFCC;
    text-align: center;
}

.profile-image-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image-container div {
    height: 50%;
    width: 39%;
    background-image: url("/images/kkp.jpg");
    background-size: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
}

.contact-me-button {
    border: none;
    margin-top: 1em;
    height: 5vh;
    width: 10vw;
    background-color: #ECDFCC;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    text-align: center;
    padding-top: 0.2em;
    border-radius: 0.2em;
    transition: box-shadow 0.5s;
    transition: transform 0.5s;
}

.contact-me-button:hover {
    transform: scale(105%);
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.close-contact-button {
    margin-top: 1em;
    width: 3vw;
    cursor: pointer;
    background-color: #222829;
    border: none;
    transition: transform 0.5s;
}

.close-contact-button:hover {
    transform: rotate(180deg) scale(120%);
}

.contact-info {
    border-radius: 0.2em;
    padding: 1em;
    width: 25vw;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    transition: transform 0.5s;
    background-image: url("./images/contact-me-background-png.png");
    background-size: cover;
    background-position: center;
    animation: opening 0.3s linear;
}

.contact-info:hover {
    transform: scale(107%);
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}

.contact-info span {
    display: flex;
    align-items: center;
    font-family: "SUSE", sans-serif;
    gap: 1em;
    color: white;
    font-weight: bold;
}

.copy-button {
    border: none;
    background-color: #22282900;
}

.copy-button:hover {
    transform: scale(105%);
    cursor: pointer;
}

@media (max-width: 480px) {
    .home-container {
        height: 80vh;
        width: 95vw;
        flex-direction: column;
        gap: 1em;
        margin: 3em auto;
    }

    .introduction {
        width: 86vw;
        align-self: center; 
    }

    .introduction div {
        width: 100%;
        height: 34vh;
        background-position: center;
    }

    .introduction div article {
        width: 45vw;
        padding-top: 1em;
    }

    .profile-image-container {
        align-self: center;
        width: 86vw;
        justify-content: flex-start;
    }

    .profile-image-container div {
        width: 50vw;
    }

    .contact-me-button {
        width: 30vw;
    }

    .contact-info {
        width: 90vw;
        animation: opening 0.4s ease-out;
    }

    .copy-button {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .introduction {
        align-items: center;
    }

    .introduction div {
        min-width: 43vw;
        height: 30vh;
        background-position: center;
    }

    .introduction div article {
        width: 20vw;
        padding-top: 1.4em;
    }

    .profile-image-container div {
        width: 43vw;
    }

    .contact-me-button {
        width: 15vw;
    }

    .contact-info {
        width: 40vw;
        animation: opening 1s normal;
    }

    .copy-button {
        display: none;
    }
}

@keyframes pop {
    0% {
        transform: translateY(-100%) scale(0%);
    }
}

@keyframes opening {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    }
}

/* animation on scroll */
.introduction-card-animation {
    animation: intro-animation 0.4s linear;
}

.image-animation {
    animation: profile-image-animation 0.4s linear;
}

@keyframes intro-animation {
    from {
        transform: translateX(-100%) rotateY(90deg) scaleY(0);
        opacity: 0%;
    }
}

@keyframes profile-image-animation {
    from {
        /* transform: translateX(100%) rotateY(90deg) scaleY(0);
        */
        transform: rotate3d(3, 3, 0, 180deg);
        opacity: 0%;
    }
}
/* ------------------------ */



/* !! About container */
.about-container::-webkit-scrollbar {
    display: none;
}

.about-container {
    height: 90vh;
    width: 99vw;
    overflow: scroll;
    padding-top: 2em;
}

.about-container p {
    font-family: "Nerko One", cursive;
    color: #ECDFCC;
    text-align: center;
}

.about-buttons {
    min-height: 12%;
    width: 20%;
    margin-top: 2em;
    text-align: center;
    font-family: "SUSE", sans-serif;
    padding-top: 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2em;

    transition: transform 0.5s, box-shadow 0.5s;
}

.about-buttons:hover {
    transform: scale(107%);
    box-shadow: 2px 2px 10px #ECDFCC;
}

.about-desc {
    width: 35%;
    margin: 0.5em auto;
    padding: 1em;
    background-color: #1E201E;
    color: white;
    font-family: "SUSE", sans-serif;
    border-radius: 0.5em;
    display: none;
    animation: opening 0.4s linear;
    background-image: url('./images/aboutDesc2.jpg');
    background-size: cover;
    box-shadow: 1px 1px 5px #3C3D37;
}

.close-desc {
    width: 2vw;
    height: 4vh;
    font-size: 0.6em;
    padding: 0;
    cursor: pointer;
    background-color: #ECDFCC;
    border: 1px solid #3C3D37;
    border-radius: 0.5em;
    transform: translateY(-0.5em) translateX(-0.5em);
    transition: transform 0.5s;
}

.close-desc:hover {
    transform: rotate(170deg);
}

#qualificationBtn {
    color: #697565;
    font-weight: 700;
    background-image: url("./images/books.jpg");
    background-size: cover;
    border-radius: 0.5em;
}

#skillsBtn {
    color: #ECDFCC;
    font-weight: 700;
    background-image: url("./images/skills.jpg");
    background-size: cover;
    border-radius: 0.5em;
}

#workBtn {
    color: #1E201E;
    font-weight: 700;
    background-image: url("./images/work.jpg");
    background-size: cover;
    border-radius: 0.5em;
}

#photoBtn {
    color: #1E201E;
    font-weight: 700;
    background-image: url("./images/work.jpg");
    background-size: cover;
    border-radius: 0.5em;
}

@keyframes descriptionAni {
    from {
        transform: scale(0%);
    }
}

.about-desc-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: black;
  }
  
  .about-desc-container::-webkit-scrollbar {
    width: 12px;
    background-color: black;
  }
  
  .about-desc-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #555;
  }


.about-desc-container {
    display: flex;
    gap: 2em;
    height: 15vh;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 1em;
}

.about-desc-container div {
    height: 10vh;
    min-width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5 0.5;
    cursor: pointer;
    transition: transform 1s;
}

.about-desc-container div:hover{
    transform: scale(1.3);
}

@media (max-width: 480px) {
    .about-container {
        height: 60vh;
        width: 95vw;
        margin: 0 auto;
    }

    .about-buttons {
        width: 80vw;
        height: 10vh;
        padding-top: 1.5em;
    }

    .about-desc {
        width: 70vw;
        padding-left: 1em;
    }

    .about-desc-container {
        gap: 2em;
        padding-left: 2em;
    }

    .about-desc-container div {
        min-width: 15vw;
    }

    .close-desc {
        width: 6vw;
        height: 3vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about-container {
        margin: 0 auto;
        height: 60vh;
    }

    .about-buttons {
        width: 40vw;
        height: 7vh;
    }

    .about-desc {
        width: 40vw;
    }

    .close-desc {
        width: 3vw;
        height: 3vh;
    }
}

.qualification-button-animation {
    animation: quali-animation 0.4s ease-in-out;    
}
.skills-button-animation {
    animation: skills-animation 0.4s ease-in-out;    
}
.work-button-animation {
    animation: work-animation 0.4s ease-in-out;    
}

@keyframes quali-animation {
    0%{
        transform: translateX(-100%) rotateZ(180deg);
        opacity: 0%;
    }
}
@keyframes skills-animation {
    0%{
        transform: translateX(100%) rotateZ(180deg);
        opacity: 0%;
    }
}
@keyframes work-animation {
    0%{
        transform: translateX(-100%) rotateZ(180deg);
        opacity: 0%;
    }
}


/* !! Project container */

.project-container {
    height: 90vh;
    width: 99vw;
}

.project-container p {
    font-family: "Nerko One", cursive;
    color: #ECDFCC;
    text-align: center;
    font-size: 1.3em;
}

.project-cards {
    border: 1px solid #1E201E;
    height: 80%;
    max-width: 80%;
    margin: 0em auto;
    display: flex;
    gap: 1em;
    box-shadow: 2px 2px 10px #1E201E;
    padding: 2em;
}

/* .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
} */

.project-card img {
    width: 40%;
    height: 40%;
    margin-bottom: 1em;
    border-radius: 0.2em;
}

.project-card-desc {
    padding: 0.6em;
    height: 30vh;
    width: 50vw;
    color: #ECDFCC;
    margin: 0 auto;
}

.swiper{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

.swiper-button-prev {
    color: #3C3D37 !important;
    opacity: 40%;
    transition: transform 0.5s, opacity 0.5s;
}

.swiper-button-prev:hover {
    transform: scale(110%);
    opacity: 100%;
}

.swiper-button-next {
    color: #3C3D37 !important;
    opacity: 40%;
    transition: transform 0.5s, opacity 0.5s;
}

.swiper-button-next:hover {
    transform: scale(110%);
    opacity: 100%;
}

.project-animation{
    animation: project-ani 0.4s ease-in;
}
@keyframes project-ani {
    0% {
        opacity: 0%;
        transform: scale(0.5)
    }
}

@media (max-width: 480px) {
    .project-cards {
        max-width: 90vw;
        height: 50vh;
    }
    .project-card img{
        height: 10vh;
        width: 80vw;
    }
    .project-card-desc{
        max-height: 19vh;
        width: 65vw;
        font-size: 0.8em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .project-container {
        height: 70vh;
    }

    .project-cards {
        min-width: 70vw;
    }
}